.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container-main {
    background-color: var(--color-container-main);
}
.container-secondary {
    background-color: var(--color-container-secondary);
}
