.footer-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-profile {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 15px 30px;
    border-radius: 3px;
    height: 110px;
}

.footer-profile .photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-right: 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.footer-profile .photo img {
    width: 100%;
}

.footer-profile .info h4 {
    font-size: 25pt;
    font-weight: 500;
    line-height: 27px;
}

.footer-profile .info p {
    font-size: 18pt;
    color: #7f8ea5;
    letter-spacing: 1px;
}

.contact-email {
    margin-top: 20px;
}

.footer-container.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
    height: 110px;
}

.contact-email,
.contact-linkedin {
    margin: 0px 10px;
}

.footer-card {
    position: relative;
}

.footer-card p {
    font-size: 13pt;
    font-weight: 500;
    letter-spacing: 1px;
    color: #7f8ea5;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 24px;
}

.footer-top {
    display: flex;
    justify-content: center;
}

.footer-socials {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 15px 25px 0px 25px;
    border-radius: 3px;
    height: 110px;
}

.footer-navbar>div:first-child {
    display: flex;
    align-items: center;
}

.footer-navbar>div:first-child p {
    margin-right: 35px;
}