.skillcard-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 430px;
    height: 400px;
    box-sizing: border-box;
    padding: 50px;
    margin: 0px 20px;
    background-color: var(--color-skill-card);
    border-radius: 0px 50px 0px 50px;
    border-left: 5px solid var(--color-sub);
    position: relative;
    user-select: none;
}

.skillcard-layout:first-child {
    margin: 0px 0px;
    margin-right: 20px;
}

.skillcard-layout:last-child::after,
.skillcard-layout:last-child::before {
    position: absolute;
    content: '';
    min-width: 430px;
    height: 400px;
    box-sizing: border-box;
    padding: 50px;
    background-color: var(--color-skill-card);
    border-radius: 0px 50px 0px 50px;
    border-left: 5px solid #959595;
    top: 0px;
}

.skillcard-layout:last-child::after {
    right: -470px;
    opacity: 0.35;
}

.skillcard-layout:last-child::before {
    right: -940px;
    opacity: 0.15;
}


.skillcard-icon {
    background-color: var(--color-sub);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillcard-title {
    font-size: 28pt;
    font-weight: 600;
    line-height: 50px;
}

.skillcard-paragraph {
    font-size: 16pt;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.6);
    margin-top: 0px !important;
    line-height: 25px;
}

.skillcard-underline {
    width: 50px;
    height: 4px;
    background-color: #fff;
}